footer
    .footer.container
        .footer__column
            .logo
                .logo__title HouseVOP
                .logo__sub-title ЖИЛОЙ КОМПЛЕКС
        .footer__column
            ul
                li О комплексе
                li Район
                li Каталог квартир
                li Ипотека
                li Контакты
        .footer__column
            ul
                li О комплексе
                li Район
                li Каталог квартир
                li Ипотека
                li Контакты
        .footer__column
            ul
                li Адрес: Наб. реки Фонтанки 10-15
                li Телефон: 8 (812) 123-45-67
                li Отдел продаж: 10:00 - 20:00
                li E-mail: vip@housevip.ru
                li.social-networks
                    include ../../assets/images/svg/youtube.svg
                    include ../../assets/images/svg/vk.svg
                    include ../../assets/images/svg/fb.svg
                    include ../../assets/images/svg/instagram.svg

                    
                    