header.container
    .logo
        .logo__title HouseVOP
        .logo__sub-title ЖИЛОЙ КОМПЛЕКС
    .menu
        ul.menu__items
            li.menu__item О комплексе
            li.menu__item Район
            li.menu__item Каталог квартир
            li.menu__item Ипотека
            li.menu__item Контакты