include ../utils/mixins

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Site - #{title}
        link(href=`css/style.css`, rel="stylesheet")
        block head
    body
        img.sunset-bg(src="/images/Sunset.png", alt="Sunset")
        include ../blocks/header
        block content    
        include ../blocks/footer
        block script
        script(src='/bundle.bundle.js')