@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('/fonts/PostNoBillsJaffna-SemiBold.eot');
    src: url('/fonts/PostNoBillsJaffna-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PostNoBillsJaffna-SemiBold.woff2') format('woff2'),
        url('/fonts/PostNoBillsJaffna-SemiBold.woff') format('woff'),
        url('/fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype'),
        url('/fonts/PostNoBillsJaffna-SemiBold.svg#PostNoBillsJaffna-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&display=swap');